In [ ]:
array=["abhishek","aswathy"]
for i in array:
 print(i)
for i in range(len(array)-1,-1,-1):
   print (array[i])

abhishek
aswathy
aswathy
abhishek

In [ ]:
for i in range(4):
  print("* * * *")

* * * *
* * * *
* * * *
* * * *

In [ ]:
print("welcome to ", end='!')

welcome to !

In [ ]:
print("python "*3)

python python python

for val in sequence (iterable):
 body of for

In [ ]:
s=["as","a","o"]
for i in s:
  print (i)

as
a
o

while condition:
stat
else
stat

odd.append(number)

In [ ]:
s="python"
print (s[0:4])
print (s[-5:-2])
print (s[2])

pyth
yth
t

In [ ]:
a=int(input("enter a :"))
b=int(input("enter b : "))
print ("1.Add\n2.Subtract\n3.Multiply\n4.Division")
print("enter your choice : ")
c=int(input("enter c : "))
if c==1:
  d=a+b
  print (d)
elif c==2:
  e=a-b
  print (e)
elif c==3:
 f=a*b
 print (f)
else:
  g=a/b
  print (g)

enter a :4
enter b : 3
1.Add
2.Subtract
3.Multiply
4.Division
enter your choice :
enter c : 1
7

In [ ]:
a=int(input("enter a :"))
if a==1:
  print ("a is neither prime or composite")
elif a >1 :
  for i in range(2,a):
     if a%i==0:
       flag=1
  else:
        flag=0
  if flag==0:
      print (a, "is not prime number ")
  else:
        print(a," a prime number")

enter a :25
25 is not prime number

In [ ]:
a=int(input("enter the year to be checked "))
if a%4==0 and a % 100==0 or a%400==0 :
   print (a,"is leap year") 
else:
    print(a,"is not leap year")

enter the year to be checked 2022
2022 is not leap year

In [ ]:
a=int(input("enter the count of numbers to be summed "))
sum=0
for i in range(0,a+1):
   sum=sum+i
print (sum)

enter the count of numbers to be summed 10
55

def function_name(argument):
  # function_perform_operation

In [ ]:
def greet():
  print("hello")
greet()

hello

In [ ]:
def add(a,b):
  sum=a+b
  print (sum)
add(12,2)

14

In [ ]:
def square(a):
   sq=a*a
   print (sq)

b=int(input("enter the number to be squared "))
square(b)

enter the number to be squared 5
25