QN 1:

In [ ]:
                                                      # initialising the list to a variable named array
array=[10,11,12,13]
s=0
for i in array:
  s = s + i                                           # finding the sum of the list
print("Sum of list is : " ,s)

Sum of list is :  46

QN 2:

In [ ]:
a=input("Enter a sentence :  ")                     # input a string or sentence
# a part
m=len(a)                                            # finding the length of the sentence inputted
print("Length of string is : ", m)
print("First half of string is : ",a[0:(len(a)//2)])

Enter a sentence :  ictacademy
Length of string is :  10
First half of string is :  ictac

QN 3:

In [ ]:
a=input("Enter the first string : ")
b=input("Enter the second string : ")
newstring = a + b                                 # adding or concatinating the two strings
print("Resultant string is ",newstring)
print("Length of string is ",len(newstring))

Enter the first string : ict
Enter the second string : academy
Resultant string is  ictacademy
Length of string is  10

QN 4:

In [2]:
a=(78,45,32,19,82,77,40,39)
print("original tuple : ",a)
b=list(a)                                       # assigning the tuple as a list to the variable b
b[2]=100                                        # replacing the third element with 100
c=tuple(b)                                      # changing back to tuple and assign it to c
print("New tuple : ",c)

original tuple :  (78, 45, 32, 19, 82, 77, 40, 39)
New tuple :  (78, 45, 100, 19, 82, 77, 40, 39)

QN 5:

In [ ]:
 a = [19,32,10,55,31,32,94,29,10,65,77,40,40]
 print("Initial List : ",a)

            # Delete the first occurrence of 32

for i in range(0,len(a)):
      if a[i] == 32:
        a.remove(32)
        break
print("After removing the first occurence of 32 list be : ",a)

           # Delete all occurrences of 40

while 40 in a:
   a.remove(40)
print ("After removing occurances of 40  list be like : ",a)

          # Delete the value at index=5

del a[5]
print("List after deleting the value at index is 5  :",a)

          # Modify the value at index=9 as 300

    # Cannot modify as index no 9 is not available at the resultant list obtained from just above
print("           CANNOT MODIFY       ")

        # Add 200 at index=2

a.insert(2,200)
print("List after inserting 200 at index 2 is ",a)

       # Print the final list with its length, maximum value and sum of all elements
 
print("Final list  : ",a)
print("Length of list  : ",len(a))
print("Maximum value in list :  ",max(a))
sum=0
for i in a:
  sum = sum + i 
print ("Sum of all elements in array  : ",sum)

Initial List :  [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
After removing the first occurence of 32 list be :  [19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
After removing occurances of 40  list be like :  [19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
List after deleting the value at index is 5  : [19, 10, 55, 31, 32, 29, 10, 65, 77]
           CANNOT MODIFY
List after inserting 200 at index 2 is  [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Final list  :  [19, 10, 200, 55, 31, 32, 29, 10, 65, 77]
Length of list  :  10
Maximum value in list :   200
Sum of all elements in array  :  528