QN 1 :

In [5]:
f_list=["banana", "orange", "mango", "lemon"] 
print("Original List : ")
for i in f_list:
 print(i)
print("\n")
print("Reverse List : ")
for i in range(len(f_list)-1,-1,-1):
   print (f_list[i])

Original List :
banana
orange
mango
lemon


Reverse List :
lemon
mango
orange
banana

QN 2:

In [18]:
def fibo(n):
 if n <= 1:
   return n
 else:
    return (fibo(n-1) + fibo(n-2))

for i in range(10):
    print(fibo(i),end="\n")

0
1
1
2
3
5
8
13
21
34

QN 3:

In [12]:
a=0
b=100
count=0    # count variable is used to find the number of prime nos
print("Prime numbers between 0 and 100 : ")
for num in range(a, b + 1):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
                break
       else:
           print(num)
           count=count+1
print(" Total number of prime numbers between 0 and 100 are :" , count)

Prime numbers between 0 and 100 :
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
 Total number of prime numbers between 0 and 100 are : 25

QN 4:

In [3]:
a=int(input("Enter a number : "))
if a % 2==0:                         #checks whether the number inputted is even or not
   print(a,"is even and the square of the number is : ",a*a)
else:
         print(a,"is odd number and the cube of the number is : ",a*a*a)

Enter a number : 4
4 is even and the square of the number is :  16

QN 5:

In [22]:
a = input("Enter sentence: ")
longest = max(a.split(), key=len)       # Finding longest word
print("Longest word is: ", longest ,"\n And its length is: ", len(longest))     # Displaying longest word

Enter sentence: i love technopark
Longest word is:  technopark
 And its length is:  10

QN 6:

In [29]:
sum = 0
n = 5
print("Enter 5 numbers : ")
i = 0
while i < n:
    num = int(input())  # inputting each number one by one
    sum = sum+num       # summing up each number
    i += 1
avg = sum/n             # finding the average
print("The average of 5 numbers : ",avg)

Enter 5 numbers :
10
10
10
10
10
The average of 5 numbers :  10.0

QN 7:

In [35]:
n=int(input("Enter a number:"))
total=0                    #total variable to find the sum of digits
while(n>0):
    dig=n%10             # modulus performed to extract the last digit of the number
    total=total+dig      # extracted digit is summed up    
    n=n//10              # divides to extract the quoitent
print("The total sum of digits is:",total)

Enter a number:20
The total sum of digits is: 2

Qn 8 :

In [41]:
i=0
prin=100000
rate=5/100
while(i<5):
  inter=prin*rate
  amount=prin+inter
  print("Interest at ",i+1,"year is : ",inter, " and the amount is : ",amount)
  prin=amount
  i=i+1

Interest at  1 year is :  5000.0  and the amount is :  105000.0
Interest at  2 year is :  5250.0  and the amount is :  110250.0
Interest at  3 year is :  5512.5  and the amount is :  115762.5
Interest at  4 year is :  5788.125  and the amount is :  121550.625
Interest at  5 year is :  6077.53125  and the amount is :  127628.15625

QN 9 :

In [44]:
# a part --- check 2034 is leap year or not

a=int(input("enter the year to be checked "))
if a%4==0 and a % 100!=0 or a%400==0 :
   print (a,"is leap year") 
else:
    print(a,"is not leap year")

enter the year to be checked 2034
2034 is not leap year

In [45]:
# b part ---- check 2048 is leap year or not
a=int(input("enter the year to be checked "))
if a%4==0 and a % 100!=0 or a%400==0 :
   print (a,"is leap year") 
else:
    print(a,"is not leap year")

enter the year to be checked 2048
2048 is leap year